.carousel-container {
    position: relative;
    
    .hero-data {
        position: absolute;
        width: 50%;
        color: white;
        z-index: 10; 
        top: 25%;
        margin-left: 15%;
        
        h1 {
            font-size: 96px;
            line-height: 80px;
            letter-spacing: -2px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 24px;
            width: 80%;
            margin-bottom: 40px;
        }

        .button {
            display: block;
            height: 70px;
            width: 250px;
            background-color: #1B1D23;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            &:hover {
                cursor: pointer;
                background-color: #60636D;
            }
        }
    }

    .hero-image {
        width: 100%;
        height: auto;
        filter: brightness(80%);
    }

    .carousel-buttons {
        width: 320px;
        height: 10%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        position: absolute;
        z-index: 10;
        bottom: 0 + 4px;
        transform: translateX(-25%);

        .button-container {
            display: flex;
            list-style: none;
            height: 100%;
            background-color: white;
            color:#60636D;

            .carousel-button {
                font-size: 18px;
                font-weight: 700;
                width: 80px;
                border-left: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #EEEFF4;
                    color:#1B1D23;
                    cursor: pointer;
                }
            }
        }
    }
}

.clicked {
    background-color: black;
    color: #EEEFF4;
}

