.hero-container {
    position: relative;
    height: 46vw;
    margin-bottom: 125px;

    img {
        height: 46vw;
        position: absolute;
        filter: brightness(70%);
        z-index: 0;
    }

    h1 {
        font-size: calc(100px + 10vw);
        color: #EEEFF4;
        z-index: 10;
        position: absolute;
        top: 8vw;
        right: 0;
    }

    .text-container {
        position: absolute;
        z-index: 5;
        bottom: 0;
        right: 0;
        background-color: white;
        padding-left: 45vw;
        height: 30vw;

        .text-flex {
            height: 20vw;
            width: 446px;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: space-between;
        }

        .line {
            display: block;
            background-color: gray;
            height: 1px;
            width: 65px;
        }

        h3 {
            font-size: 5vw;
        }

        p {
            font-size: calc(3px + 1vw);
            line-height: 24px;
        }
    }
}

.contact-details {
    width: 80vw;
    margin-bottom: 125px;

        .line {
        display: block;
        background-color: gray;
        height: 1px;
        width: 65px;
        margin-bottom: 50px;
    }

    .contact-flex {
        display: flex;
        justify-content: space-between;

        h3 {
            font-size: 4vw;
        }

        .contact-sub {
            h5 {
                font-size: 18px;
                color: #60636d;
                line-height: 35px;
                margin-bottom: 10px;
            }

            p {
                font-size: 18px;
                color: #60636d;
                line-height: 24px;
            }

            h6 {
                font-size: 18px;
                color: black;
                font-weight: 800px;
                margin-top: 30px;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

}

.form-section-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;

    .input-container {
        position: relative;
    }

    h3 {
        font-size: 4vw;
        margin-top: 10px;
    }

    form {
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .message {
            padding-bottom: 49px;
            margin-bottom: 49px;
        }
    }

    input {
        font-size: 20px;
        font-weight: 800px;
        border: none;
        border-bottom: 1px solid black;
        line-height: 44px;
        margin-top: 10px;
        padding-left: 25px;
        width: 100%;
    }

    label {
        position: absolute;
        right: 25px;
        top: 25px;
        color: red;
    }

    input:focus {
        outline: none;
        border-bottom: 3px solid black;
    }

    ::placeholder {
        color: #c8ccd8;
        letter-spacing: -.31px;
    }

    button {
        position: absolute;
        background-color: black;
        width: 50px;
        height: 50px;
        padding: 10px;
        bottom: 0;
        right: 0;

        img {
            width: 20px;
        }

        &:hover {
            cursor: pointer;
            background-color: #60636d;
        }
    }
}

