.footer-container {
  margin-top: 325px;
}

.references-container-new {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .reference-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 16px;
    position: relative;

    &:hover .image {
      opacity: 0.3;
    }

    &:hover .middle {
      opacity: 1;
    }

    .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      .text {
        background-color: #04aa6d;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
      }
    }
  }
}

.references-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  .references-item {
    .references-title {
      font-weight: 700;
      margin-bottom: 20px;
    }

    li {
      margin-bottom: 12px;
    }
  }
}
.hero-container {
  position: relative;
  height: 46vw;
  margin-bottom: 125px;
  z-index: 0;

  img {
    height: 46vw;
    position: absolute;
    filter: brightness(70%);
    z-index: 0;
  }

  h1 {
    font-size: calc(100px + 10vw);
    color: #eeeff4;
    position: absolute;
    top: 8vw;
    right: 0;
    z-index: 6;
  }

  .text-container {
    position: absolute;
    z-index: 5;
    bottom: 0px;
    right: 0;
    background-color: white;
    padding-left: 45vw;
    height: 30vw;

    .text-flex {
      height: 20vw;
      width: 446px;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: space-between;
    }

    .line {
      display: block;
      background-color: gray;
      height: 1px;
      width: 65px;
    }

    h3 {
      font-size: 5vw;
    }

    p {
      font-size: calc(3px + 1vw);
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .hero-container {
    position: relative;
    height: 50vw;
    margin-bottom: 125px;
    overflow: hidden;

    img {
      width: 80vw;
      height: auto;
      position: absolute;
      filter: brightness(70%);
      z-index: 0;
    }

    h1 {
      font-size: calc(50px + 10vw);
      color: #eeeff4;
      z-index: 10;
      position: absolute;
      top: 9vw;
      right: 0;
    }

    .text-container {
      position: absolute;
      z-index: 5;
      bottom: 0;
      right: 0;
      background-color: transparent;
      padding-left: 45vw;
      height: 30vw;

      .text-flex {
        height: 34vw;
        width: 446px;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;
        background-color: white;
        padding-left: 50px;
        padding-top: 50px;
      }

      .line {
        display: block;
        background-color: gray;
        height: 1px;
        width: 65px;
      }

      h3 {
        font-size: 5vw;
      }

      p {
        font-size: calc(8px + 1vw);
        line-height: 24px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .references-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    .references-item {
      .references-title {
        font-weight: 700;
        margin-bottom: 20px;
      }

      li {
        margin-bottom: 12px;
      }
    }
  }
  .hero-container {
    position: relative;
    height: 400px;
    margin-bottom: 75px;
    overflow: visible;
    background-image: url("../../assets/about/hero.webp");
    background-size: cover;
    background-repeat: no-repeat;

    img {
      display: none;
      object-fit: fill;
      position: relative;
      filter: brightness(70%);
      z-index: 0;
    }

    h1 {
      font-size: calc(50px + 10vw);
      color: #eeeff4;
      z-index: 10;
      position: absolute;
      top: 160px;
      left: 50px;
    }

    .text-container {
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      padding-left: 0vw;
      height: 30vw;
      width: 80vw;

      .text-flex {
        height: 40vw;
        width: 100%;
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;
        background-color: white;
        padding-left: 50px;
        padding-top: 75px;
      }

      .line {
        display: none;
        background-color: gray;
        height: 1px;
        width: 65px;
      }

      h3 {
        font-size: 40px;
        margin-right: 0px;
      }

      p {
        font-size: 18px;
        line-height: 24px;
        margin-right: 50px;
        margin-top: 25px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .references-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    .references-item {
      .references-title {
        font-weight: 700;
        margin-bottom: 20px;
      }

      li {
        margin-bottom: 12px;
      }
    }
  }
  .hero-container {
    position: relative;
    height: 400px;
    margin-bottom: 75px;
    overflow: visible;
    background-image: url("../../assets/about/hero.webp");
    background-size: cover;
    background-repeat: no-repeat;

    img {
      display: none;
      object-fit: fill;
      position: relative;
      filter: brightness(70%);
      z-index: 0;
    }

    h1 {
      display: none;
      font-size: calc(50px + 10vw);
      color: #eeeff4;
      z-index: 10;
      position: absolute;
      top: 160px;
      left: 50px;
    }

    .text-container {
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      padding-left: 0vw;
      height: 30vw;
      width: 80vw;

      .text-flex {
        height: 60vw;
        width: 100%;
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;
        background-color: white;
        padding-left: 50px;
        padding-top: 125px;
      }

      .line {
        display: none;
        background-color: gray;
        height: 1px;
        width: 65px;
      }

      h3 {
        font-size: 35px;
        margin-right: 0px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
        margin-right: 50px;
        margin-top: 25px;
      }
    }
  }
}

.heritage-container {
  position: relative;
  height: 100%;
  width: 80vw;
  display: flex;
  margin: 150px 10vw;
  justify-content: space-between;

  .text-container {
    width: 40%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;

    .line {
      display: block;
      background-color: gray;
      height: 1px;
      width: 65px;
      margin-bottom: 5px;
    }

    h3 {
      font-size: 5vw;
      margin-bottom: 5px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }

  img {
    height: 40vw;
  }
}

@media screen and (max-width: 1000px) {
  .mobileview {
    margin-bottom: -400px !important;
  }

  .references-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    .references-item {
      .references-title {
        font-weight: 700;
        margin-bottom: 20px;
      }

      li {
        margin-bottom: 12px;
      }
    }
  }

  .heritage-container {
    position: relative;
    height: 100%;
    width: 80vw;
    display: flex;
    margin: 150px 10vw;
    justify-content: space-between;

    .text-container {
      width: 90vw;
      height: 40vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 50px;

      .line {
        display: block;
        background-color: gray;
        height: 1px;
        width: 65px;
        margin-bottom: 5px;
      }

      h3 {
        font-size: 7vw;
        margin-bottom: 5px;
      }

      p {
        font-size: 18px;
        line-height: 24px;
      }
    }

    img {
      height: 40vw;
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .references-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    .references-item {
      .references-title {
        font-weight: 700;
        margin-bottom: 20px;
      }

      li {
        margin-bottom: 12px;
      }
    }
  }
  .mobileview {
    margin-bottom: -400px !important;
  }
  .heritage-container {
    position: relative;
    height: 100%;
    width: 80vw;
    margin: 150px 10vw;

    display: flex;
    justify-content: space-between;

    .text-container {
      width: 90vw;
      height: 40vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 50px;

      .line {
        display: block;
        background-color: gray;
        height: 1px;
        width: 65px;
        margin-bottom: 5px;
      }

      h3 {
        font-size: 7vw;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        line-height: 24px;
      }
    }

    img {
      height: 40vw;
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .references-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    .references-item {
      .references-title {
        font-weight: 700;
        margin-bottom: 20px;
      }

      li {
        margin-bottom: 12px;
      }
    }
  }
  .mobileview {
    margin-bottom: -400px !important;
  }
  .heritage-container {
    position: relative;
    height: 100%;
    width: 80vw;
    margin: 150px 10vw;
    display: flex;
    justify-content: space-between;

    .text-container {
      width: 96vw;
      height: 40vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 2vw;

      .line {
        display: block;
        background-color: gray;
        height: 1px;
        width: 65px;
        margin-bottom: 5px;
      }

      h3 {
        font-size: 55px;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
      }
    }

    img {
      height: 40vw;
      display: none;
    }
  }
}

.leaders-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  h3 {
    font-size: 5vw;
  }

  .tile-container {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    justify-content: space-between;

    .tile {
      margin-bottom: 50px;

      img {
        height: 22vw;
      }

      h4 {
        font-size: calc(16px + 1vw);
        margin-top: 10px;
      }

      p {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  .image-container {
    position: relative;

    .icon-container {
      display: none;
      position: absolute;
      top: 0;
    }

    &:hover {
      .avatar {
        filter: brightness(50%);
      }

      .icon-container {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .linkedin,
        .twitter {
          width: 40px;
          height: auto;
          margin: 0 20px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .references-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    .references-item {
      .references-title {
        font-weight: 700;
        margin-bottom: 20px;
      }

      li {
        margin-bottom: 12px;
      }
    }
  }
  .leaders-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;

    h3 {
      font-size: 7vw;
      margin-bottom: 50px;
    }

    .tile-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;

      .tile {
        margin-bottom: 50px;

        img {
          height: 35vw;
        }

        h4 {
          font-size: calc(16px + 1vw);
          margin-top: 10px;
        }

        p {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }

    .image-container {
      position: relative;

      .icon-container {
        display: none;
        position: absolute;
        top: 0;
      }

      &:hover {
        .avatar {
          filter: brightness(50%);
        }

        .icon-container {
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          .linkedin,
          .twitter {
            width: 40px;
            height: auto;
            margin: 0 20px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .references-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
    .references-item {
      .references-title {
        font-weight: 700;
        margin-bottom: 20px;
      }

      li {
        margin-bottom: 12px;
      }
    }
  }
  .leaders-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px 0;
    padding: 100px 0;
    overflow: hidden;

    h3 {
      font-size: 7vw;
      margin-left: 10vw;
    }

    .tile-container {
      display: flex;
      width: 80vw;
      margin: 0 10vw;
      flex-wrap: wrap;
      justify-content: space-between;

      .tile {
        margin-bottom: 50px;

        img {
          height: 35vw;
        }

        h4 {
          font-size: calc(16px + 1vw);
          margin-top: 10px;
        }

        p {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }

    .image-container {
      position: relative;

      .icon-container {
        display: none;
        position: absolute;
        top: 0;
      }

      &:hover {
        .avatar {
          filter: brightness(50%);
        }

        .icon-container {
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          .linkedin,
          .twitter {
            width: 40px;
            height: auto;
            margin: 0 20px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .leaders-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px 0;
    padding: 150px 0 0;
    overflow: hidden;

    h3 {
      font-size: 40px;
      margin-left: 10vw;
    }

    .tile-container {
      display: flex;
      width: 80vw;
      margin: 0 10vw;
      flex-wrap: wrap;
      justify-content: space-between;

      .tile {
        margin-bottom: 50px;

        img {
          height: 35vw;
        }

        h4 {
          font-size: calc(16px + 1vw);
          margin-top: 10px;
        }

        p {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }

    .image-container {
      position: relative;

      .icon-container {
        display: none;
        position: absolute;
        top: 0;
      }

      &:hover {
        .avatar {
          filter: brightness(50%);
        }

        .icon-container {
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          .linkedin,
          .twitter {
            width: 40px;
            height: auto;
            margin: 0 20px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
