

.leaflet-container {
    height: 40vw;
    width: 80vw;
    margin-bottom: 125px;
}

@media screen and (max-width: 700px) {
    .leaflet-container {
        width: 100vw;
        height: 50vw;
    }
}

@media screen and (max-width: 700px) {
    .leaflet-container {
        width: 100vw;
        height: 70vw;
    }
}