.contact-hero-container {
    position: relative;
    height: 46vw;
    margin-bottom: 125px;

    img {
        height: 46vw;
        position: absolute;
        filter: brightness(70%);
        z-index: 0;
    }

    h1 {
        font-size: calc(100px + 10vw);
        color: #EEEFF4;
        z-index: 10;
        position: absolute;
        top: 8vw;
        right: 0;
    }

    .text-container {
        position: absolute;
        z-index: 5;
        bottom: 0;
        right: 0;
        background-color: white;
        padding-left: 45vw;
        height: 30vw;

        .text-flex {
            height: 20vw;
            width: 446px;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: space-between;
        }

        .line {
            display: block;
            background-color: gray;
            height: 1px;
            width: 65px;
        }

        h3 {
            font-size: 5vw;
        }

        p {
            font-size: calc(3px + 1vw);
            line-height: 24px;
        }
    }
}

.heritage-container {
    position: relative;
    height: 100%;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
    
    .text-container {
        width: 40%;
        height: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 50px;

        .line {
            display: block;
            background-color: gray;
            height: 1px;
            width: 65px;
            margin-bottom: 5px;
        }

        h3 {
            font-size: 5vw;
            margin-bottom: 5px;
        }

        p {
            font-size: 18px;
            line-height: 24px;
        }
    }

    img {
        height: 40vw;
    }
}

.leaders-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    h3 {
        font-size: 5vw;
    }

    .tile-container {
        display: flex;
        width: 50vw;
        flex-wrap: wrap;
        justify-content: space-between;

        .tile {
            margin-bottom: 50px;

            img {
                height: 22vw;
            }

            h4 {
                font-size: calc(16px + 1vw);
                margin-top: 10px;
            }

            p {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }

/*     .image-container {
        position: relative;

        h6 {
            display: none;
        }

        &:hover {
            img {
                filter: brightness(50%);
            }

            h6 {
                display: block;
                position: absolute;
                top: 0;
                font-size: 50px;
                cursor: pointer;
                color: white;
            }
        }
    } */

    .image-container {
        position: relative;
        
        .icon-container {
            display: none;
            position: absolute;
            top: 0;
        }

        &:hover {
            .avatar {
                filter: brightness(50%);
            }

            .icon-container {
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                .linkedin,
                .twitter {
                    width: 40px;
                    height: auto;
                    margin: 0 20px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}