* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}

.page-container {
    width: 80vw;
    margin: 0 10vw;
}

.clicked {
    background-color: black;
    color: #EEEFF4;
}

.button-link {
    text-decoration: none;
    color: white;
}

