* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: "sans-serif";
}

.page-container {
  width: 80vw;
  margin: 0 10vw;
}

@media screen and (max-width: 700px) {
  .page-container {
    width: 100vw;
    margin: 0;
  }
}

.clicked {
  background-color: black;
  color: #eeeff4;
}

.button-link {
  text-decoration: none;
  color: white;
}

.button {
  display: block;
  height: 70px;
  width: 250px;
  background-color: #1b1d23;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &:hover {
    cursor: pointer;
    background-color: #60636d;
  }
}
