.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;

    .card-container {
        position: relative;
        height: 40vw;
        margin: .7vw;
        overflow: hidden;
        display: flex;

        img {
            filter: brightness(70%);

            &:hover {
                filter: grayscale(80%);
            }
        }

        .text-container {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: left;
            margin-left: 25px;
            margin-top: 32vw;
            pointer-events: none;

            h3 {
                color: white;
                font-size: calc(14px + 1vw);
                font-weight: 800px;
            }
    
            p {
                color: white;
                font-size: calc(6px + 1vw);
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .card-grid {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 100px;
    
        .card-container {
            position: relative;
            height: 100%;
            margin: 10px 0px;
            overflow: hidden;
            padding-bottom: 15px;
            display: flex;
    
            img {
                width: 100%;
                filter: brightness(70%);
    
                &:hover {
                    filter: grayscale(80%);
                }
            }
    
            .text-container {
                position: absolute;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: left;
                margin-left: 25px;
                margin-top: 5vw;
    
                h3 {
                    color: white;
                    font-size: calc(24px + 1vw);
                    font-weight: 800px;
                }
        
                p {
                    color: white;
                    font-size: calc(10px + 1vw);
                    margin-top: 10px;
                }
            }
        }
    }
}

